.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media screen and (min-width: 1024px) {
  main {
    position: relative;
  }
  main:before {
    content: url(/img/BGbox-course.png);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  main:after {
    content: url(/img/BGbox-left.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.title-content {
  padding: 1em 0;
}

.title-content h1 {
  text-align: center;
  color: #ED1F8F;
}

@media screen and (max-width: 640px) {
  .title-content h1 {
    font-size: 20px;
  }
}

.cover-page figure img {
  width: 100%;
  max-height: 60vh;
}

@media screen and (min-width: 1280px) {
  .cover-page figure img {
    max-height: 818px;
  }
}

@media screen and (min-width: 1024px) {
  .cover-page {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cover-page:before {
    content: url(/img/BGbox-left.png);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
  }
}

.about-page {
  padding: 2em 1em;
}

.about-page .ck {
  margin: 2em 0;
}

.about-page .ck p img {
  width: 100%;
  height: 100%;
}

.about-page .ck ul, .about-page .ck ol {
  padding-left: 2em;
}

.about-page .ck ul li, .about-page .ck ol li {
  list-style: disc;
}

.about-page .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  margin: 1em 0;
}

.about-page .social .facebook, .about-page .social .twiter, .about-page .social .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.about-page .social .facebook img, .about-page .social .twiter img, .about-page .social .instagram img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 20px;
  height: 20px;
}

.about-page .social .facebook span, .about-page .social .twiter span, .about-page .social .instagram span {
  margin-left: 10px;
}

.head-content img {
  width: 100%;
  max-height: 595px;
}

.course-page {
  padding: 5em 1em;
  padding-bottom: 22em;
}

.course-page .grid-course {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 1em;
}

@media screen and (min-width: 768px) {
  .course-page .grid-course {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .course-page .grid-course {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .course-page .grid-course .box {
    border-bottom: 1px solid #822C59;
    padding-bottom: 1em;
  }
}

.course-page .grid-course .box figure {
  text-align: center;
  margin-bottom: .5em;
}

.course-page .grid-course .box figure img {
  height: 250px;
}

@media screen and (min-width: 768px) {
  .course-page .grid-course .box figure img {
    height: 305px;
  }
}

@media screen and (min-width: 1280px) {
  .course-page .grid-course .box figure img {
    height: 338px;
  }
}

@media screen and (min-width: 1536px) {
  .course-page .grid-course .box figure img {
    height: 100%;
    max-height: 420px;
  }
}

.course-page .grid-course .box .detail {
  position: relative;
  height: 220px;
  background: url(/img/BGbox-course.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

@media screen and (min-width: 1024px) {
  .course-page .grid-course .box .detail {
    height: 260px;
  }
}

.course-page .grid-course .box .detail .title-course {
  margin-bottom: 1em;
}

.course-page .grid-course .box .detail .title-course h2 {
  font-size: 20px;
  height: 3em;
  overflow: hidden;
}

.course-page .grid-course .box .detail .description p {
  font-size: 15px;
  height: 4.4em;
  overflow: hidden;
}

.course-page .grid-course .box .detail .button {
  position: absolute;
  bottom: 12px;
}

.course-page .grid-course .box .detail .limited {
  position: absolute;
  bottom: 0;
  color: #ED1F8F;
  font-size: 13px;
}

.course-page .button-help {
  position: fixed;
  bottom: 10%;
  right: 3%;
  width: 120px;
  height: 50px;
  z-index: 5;
}

@media screen and (min-width: 1280px) {
  .course-page .button-help {
    top: 10%;
    bottom: unset;
  }
}

.course-page .button-help button {
  background-color: #ED1F8F;
  color: #fff;
  border-radius: 30px;
  border: unset;
  padding: 1em;
  width: 100%;
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (hover: hover) {
  .course-page .button-help button {
    opacity: .5;
  }
  .course-page .button-help button:hover {
    opacity: 1;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.course-detail-page {
  padding: 2em 1em;
}

.course-detail-page .box-detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 3em;
}

@media screen and (min-width: 1024px) {
  .course-detail-page .box-detail {
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
  }
}

.course-detail-page .box-detail .left .download-doc {
  margin-top: 1em;
  cursor: pointer;
}

.course-detail-page .box-detail .left .download-doc span {
  color: #822C59;
  font-size: .8em;
}

.course-detail-page .box-detail .left .ck {
  background-color: #fff;
}

.course-detail-page .box-detail .left .ck p img {
  width: 100%;
  height: 100%;
}

.course-detail-page .box-detail .left .ck ul, .course-detail-page .box-detail .left .ck ol {
  padding-left: 2em;
}

.course-detail-page .box-detail .left .ck ul li, .course-detail-page .box-detail .left .ck ol li {
  list-style: disc;
}

.course-detail-page .box-detail .right .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .course-detail-page .box-detail .right .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .course-detail-page .box-detail .right .social .facebook, .course-detail-page .box-detail .right .social .twiter, .course-detail-page .box-detail .right .social .ig {
    margin-right: 1em;
  }
}

.course-detail-page .box-detail .right .social .facebook a, .course-detail-page .box-detail .right .social .twiter a, .course-detail-page .box-detail .right .social .ig a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.course-detail-page .box-detail .right .social .facebook img, .course-detail-page .box-detail .right .social .twiter img, .course-detail-page .box-detail .right .social .ig img {
  height: 20px;
  width: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: 5px;
}

@media screen and (max-width: 640px) {
  .course-detail-page .box-detail .right .picture {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  .course-detail-page .box-detail .right .picture .pic1 img {
    width: 100%;
    max-height: 743px;
  }
  .course-detail-page .box-detail .right .picture .pic2 {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 30px;
  }
  .course-detail-page .box-detail .right .picture .pic2 img {
    width: 60%;
    height: 110px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .course-detail-page .box-detail .right .picture {
    position: relative;
    height: 100%;
    overflow: hidden;
    margin-top: 1em;
  }
  .course-detail-page .box-detail .right .picture .pic1 img, .course-detail-page .box-detail .right .picture .pic2 img {
    width: 100%;
  }
  .course-detail-page .box-detail .right .picture .pic1 {
    position: relative;
    overflow: hidden;
  }
  .course-detail-page .box-detail .right .picture .pic2 {
    display: none;
    position: relative;
    overflow: hidden;
    top: -318px;
    left: 30px;
    width: 50%;
  }
  .course-detail-page .box-detail .right .picture .pic2:before {
    content: "";
    position: absolute;
    top: 170px;
    right: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: skewY(-6deg);
            transform: skewY(-6deg);
    background-color: #fff;
  }
  .course-detail-page .box-detail .right .picture .pic2 img {
    height: 180px;
  }
}

@media screen and (min-width: 1024px) {
  .course-detail-page .box-detail .right .picture {
    height: 743px;
    overflow: visible;
  }
  .course-detail-page .box-detail .right .picture:after {
    content: url(/img/line-near-pic.png);
    position: absolute;
    top: 10%;
    left: -40px;
  }
  .course-detail-page .box-detail .right .picture .pic1:before {
    content: "";
    position: absolute;
    top: 430px;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: skewY(10deg);
            transform: skewY(10deg);
    background-color: #fff;
  }
  .course-detail-page .box-detail .right .picture .pic1:after {
    content: '';
    position: absolute;
    bottom: 333px;
    left: -28px;
    width: 95px;
    height: 126px;
    border: 13px solid #fff;
    border-top: none;
    border-right: none;
    border-radius: 50%;
    -webkit-transform: rotate(-16deg);
            transform: rotate(-16deg);
  }
  .course-detail-page .box-detail .right .picture .pic1 img {
    height: 743px;
    border-radius: 10px 0 0 0;
  }
  .course-detail-page .box-detail .right .picture .pic2 {
    display: block;
    top: -435px;
    height: 345px;
    width: 230px;
    border-radius: 0 10px 0 0;
  }
  .course-detail-page .box-detail .right .picture .pic2:before {
    top: 180px;
    z-index: 1;
  }
  .course-detail-page .box-detail .right .picture .pic2:after {
    content: '';
    position: absolute;
    top: 157px;
    right: -3px;
    border: 9px solid #fff;
    border-top: none;
    border-left: none;
    width: 41px;
    height: 15px;
    -webkit-transform: skew(-39deg, 2deg) rotate(-16deg);
            transform: skew(-39deg, 2deg) rotate(-16deg);
    border-radius: 20px;
  }
  .course-detail-page .box-detail .right .picture .pic2 img {
    height: 345px;
    position: absolute;
    top: -50%;
    left: -50%;
    -webkit-transform: translate(50%, 25%);
            transform: translate(50%, 25%);
    -o-object-fit: contain;
       object-fit: contain;
  }
}

@media screen and (min-width: 1280px) {
  .course-detail-page .box-detail .right .picture {
    height: 743px;
  }
  .course-detail-page .box-detail .right .picture .pic1:before {
    top: 457px;
  }
  .course-detail-page .box-detail .right .picture .pic1:after {
    bottom: 318px;
  }
  .course-detail-page .box-detail .right .picture .pic1 img {
    height: 743px;
  }
  .course-detail-page .box-detail .right .picture .pic2 {
    top: -410px;
    height: 345px;
  }
  .course-detail-page .box-detail .right .picture .pic2:before {
    top: 180px;
  }
  .course-detail-page .box-detail .right .picture .pic2 img {
    width: 366px;
    height: 345px;
  }
}

@media screen and (min-width: 1536px) {
  .course-detail-page .box-detail .right .picture {
    height: 743px;
  }
  .course-detail-page .box-detail .right .picture .pic1:before {
    top: 528px;
  }
  .course-detail-page .box-detail .right .picture .pic1:after {
    bottom: 259px;
  }
  .course-detail-page .box-detail .right .picture .pic2 {
    top: -390px;
  }
  .course-detail-page .box-detail .right .picture .pic2:before {
    top: 180px;
  }
  .course-detail-page .box-detail .right .picture .pic2 img {
    height: 345px;
    width: 366px;
  }
}

.course-detail-page .video {
  margin: 2em 0;
}

@media screen and (min-width: 1024px) {
  .course-detail-page .video {
    padding: 0 3em;
  }
}

@media screen and (min-width: 1280px) {
  .course-detail-page .video {
    padding: 0 10em;
  }
}

@media screen and (min-width: 1536px) {
  .course-detail-page .video {
    padding: 0;
    text-align: center;
  }
}

.course-detail-page .video iframe {
  width: 100% !important;
  height: 250px !important;
}

@media screen and (min-width: 768px) {
  .course-detail-page .video iframe {
    height: 350px !important;
  }
}

@media screen and (min-width: 1024px) {
  .course-detail-page .video iframe {
    height: 500px !important;
  }
}

@media screen and (min-width: 1536px) {
  .course-detail-page .video iframe {
    width: 960px !important;
    height: 420px !important;
  }
}

.course-detail-page .grid-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 2em;
  padding: 0 3em;
}

@media screen and (min-width: 768px) {
  .course-detail-page .grid-info {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .course-detail-page .grid-info {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }
}

@media screen and (min-width: 1536px) {
  .course-detail-page .grid-info {
    padding: 0 10em;
  }
}

.course-detail-page .grid-info .box {
  position: relative;
  background-color: #ED1F8F;
  padding: 2em;
  border-radius: 10px;
}

.course-detail-page .grid-info .box:after {
  content: '';
  background: url(/img/BGgridinfo.png);
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.course-detail-page .grid-info .box p {
  color: #fff;
  font-size: 1.2em;
  margin: .5em 0;
}

.course-detail-page .grid-info .box p:nth-child(3) {
  font-size: .8em;
}

.course-detail-page .grid-info .box .icon img {
  width: 28px;
  height: 28px;
}

.course-detail-page .grid-info .box .ps {
  font-size: .8em;
}

.course-detail-page .regis-button {
  text-align: center;
  margin: 2em 0;
}

.course-detail-page .regis-button button {
  width: 100px;
}

.course-detail-page .contact-button {
  text-align: center;
  margin: 2em 0;
}

.course-detail-page .contact-button button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.course-detail-page .form-regis {
  margin: 4em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

@media screen and (min-width: 1024px) {
  .course-detail-page .form-regis {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;
  }
}

.course-detail-page .form-regis .left .pad, .course-detail-page .form-regis .right .pad {
  margin-left: 1em;
}

.course-detail-page .form-regis .left .head-form, .course-detail-page .form-regis .right .head-form {
  background-color: #ED1F8F;
  padding: 5px 0;
  padding-left: 1em;
  border-radius: 5px;
}

.course-detail-page .form-regis .left .head-form p, .course-detail-page .form-regis .right .head-form p {
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
}

.course-detail-page .form-regis .left .description p, .course-detail-page .form-regis .right .description p {
  padding: .5em 0;
  color: gray;
}

.course-detail-page .form-regis .left .upload-img, .course-detail-page .form-regis .right .upload-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course-detail-page .form-regis .left .upload-img .pic img, .course-detail-page .form-regis .right .upload-img .pic img {
  width: 122px;
  height: 156px;
}

.course-detail-page .form-regis .left .upload-img .upload-zone, .course-detail-page .form-regis .right .upload-img .upload-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2em;
}

.course-detail-page .form-regis .left .upload-img .upload-zone .ps, .course-detail-page .form-regis .right .upload-img .upload-zone .ps {
  margin-top: .5em;
  width: 70%;
}

.course-detail-page .form-regis .left .upload-img .upload-zone .ps p, .course-detail-page .form-regis .right .upload-img .upload-zone .ps p {
  color: gray;
}

.course-detail-page .form-regis .left .idcard, .course-detail-page .form-regis .right .idcard {
  margin-top: 1em;
  margin-bottom: 1em;
}

.course-detail-page .form-regis .left .idcard .grid-input, .course-detail-page .form-regis .right .idcard .grid-input {
  margin-top: .5em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 58%;
      grid-template-columns: 40% 58%;
  grid-column-gap: 2%;
}

@media screen and (min-width: 768px) {
  .course-detail-page .form-regis .left .idcard .grid-input, .course-detail-page .form-regis .right .idcard .grid-input {
    -ms-grid-columns: 20% 78%;
        grid-template-columns: 20% 78%;
  }
}

@media screen and (min-width: 1024px) {
  .course-detail-page .form-regis .left .idcard .grid-input, .course-detail-page .form-regis .right .idcard .grid-input {
    -ms-grid-columns: 35% 63%;
        grid-template-columns: 35% 63%;
  }
}

@media screen and (min-width: 1280px) {
  .course-detail-page .form-regis .left .idcard .grid-input, .course-detail-page .form-regis .right .idcard .grid-input {
    -ms-grid-columns: 20% 78%;
        grid-template-columns: 20% 78%;
  }
}

.course-detail-page .form-regis .left .personal .bg-pad .h-form, .course-detail-page .form-regis .left .personal .nm-pad .h-form, .course-detail-page .form-regis .right .personal .bg-pad .h-form, .course-detail-page .form-regis .right .personal .nm-pad .h-form {
  color: #ED1F8F;
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.course-detail-page .form-regis .left .personal .bg-pad, .course-detail-page .form-regis .right .personal .bg-pad {
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 1em;
}

.course-detail-page .form-regis .left .personal .nm-pad, .course-detail-page .form-regis .right .personal .nm-pad {
  padding: 1em;
}

@media screen and (max-width: 640px) {
  .course-detail-page .form-regis .left .personal .nm-pad .date select, .course-detail-page .form-regis .left .personal .nm-pad .month select, .course-detail-page .form-regis .left .personal .nm-pad .year select, .course-detail-page .form-regis .right .personal .nm-pad .date select, .course-detail-page .form-regis .right .personal .nm-pad .month select, .course-detail-page .form-regis .right .personal .nm-pad .year select {
    padding: 5px 0 5px 5px;
  }
  .course-detail-page .form-regis .left .personal .nm-pad .date, .course-detail-page .form-regis .right .personal .nm-pad .date {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .course-detail-page .form-regis .left .personal .nm-pad .month, .course-detail-page .form-regis .right .personal .nm-pad .month {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
  }
  .course-detail-page .form-regis .left .personal .nm-pad .year, .course-detail-page .form-regis .right .personal .nm-pad .year {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
  }
}

.course-detail-page .form-regis .left .personal #course-regis-date, .course-detail-page .form-regis .right .personal #course-regis-date {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.course-detail-page .form-regis .left .personal #course-regis-month, .course-detail-page .form-regis .right .personal #course-regis-month {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.course-detail-page .form-regis .left .personal #course-regis-year, .course-detail-page .form-regis .right .personal #course-regis-year {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
}

.course-detail-page .form-regis .left .personal #course-regis-moo, .course-detail-page .form-regis .right .personal #course-regis-moo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}

.course-detail-page .form-regis .right .h-form {
  color: #ED1F8F;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.course-detail-page .form-regis .right .nm-pad {
  padding: 1em;
}

.course-detail-page .form-regis .right .edu .box {
  padding-bottom: 1em;
  border-bottom: 1px dashed gray;
  margin-bottom: 1em;
}

.course-detail-page .form-regis .right .edu .add-education {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1em auto;
  cursor: pointer;
}

.course-detail-page .form-regis .right .edu .add-education img {
  width: 15px;
  height: 15px;
}

.course-detail-page .form-regis .right .edu .add-education span {
  color: #ED1F8F;
}

.course-detail-page .form-regis .right .occupation {
  margin-bottom: 3em;
}

.course-detail-page .form-regis .right .occupation .gcheckbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 1em;
  margin-top: 2em;
  margin-bottom: 1em;
}

@media screen and (min-width: 1024px) {
  .course-detail-page .form-regis .right .occupation .gcheckbox {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .course-detail-page .form-regis .right .occupation .gcheckbox {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.course-detail-page .form-regis .right .type-business {
  margin-bottom: 3em;
}

.course-detail-page .form-regis .right .type-business .choice-business {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  margin-bottom: 1em;
}

@media screen and (min-width: 1536px) {
  .course-detail-page .form-regis .right .type-business .choice-business {
    -ms-grid-columns: (40%)[2];
        grid-template-columns: repeat(2, 40%);
  }
}

.course-detail-page .form-regis .right .knowme {
  margin-bottom: 3em;
}

.course-detail-page .form-regis .right .knowme .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course-detail-page .form-regis .right .knowme .choice .box-radio {
  margin-right: 1em;
  margin-bottom: .5em;
}

.course-detail-page .form-regis .right .knowme .other-choice {
  margin-top: 1em;
}

.course-detail-page .form-regis .right .tax {
  padding-top: 1em;
}

.course-detail-page .form-regis .right .tax textarea {
  margin-top: .5em;
  resize: none;
}

.course-detail-page .form-regis .button-save {
  margin-top: 1em;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .course-detail-page .form-regis .button-save {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.course-detail-page .map iframe {
  width: 100% !important;
  height: 300px !important;
}

.course-detail-page .button-help {
  position: fixed;
  bottom: 10%;
  right: 3%;
  width: 120px;
  height: 50px;
  z-index: 5;
}

@media screen and (min-width: 1280px) {
  .course-detail-page .button-help {
    top: 10%;
    bottom: unset;
  }
}

.course-detail-page .button-help button {
  background-color: #ED1F8F;
  color: #fff;
  border-radius: 30px;
  border: unset;
  padding: 1em;
  width: 100%;
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (hover: hover) {
  .course-detail-page .button-help button {
    opacity: .5;
  }
  .course-detail-page .button-help button:hover {
    opacity: 1;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.confirm-page {
  padding: 2em 1em;
}

@media screen and (min-width: 1280px) {
  .confirm-page {
    padding: 2em 8em;
  }
}

.confirm-page .date-no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.confirm-page .date-no .date {
  margin-right: 10px;
}

.confirm-page .date-no .no {
  color: #ED1F8F;
}

.confirm-page .list-item {
  background-color: #F3F3F3;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.confirm-page .list-item .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 73%;
      grid-template-columns: 25% 73%;
  grid-column-gap: 2%;
  grid-row-gap: 1em;
  border-bottom: 2px solid #000;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .confirm-page .list-item .item {
    padding-bottom: 10px;
  }
}

.confirm-page .list-item .item figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .confirm-page .list-item .item figure {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.confirm-page .list-item .item figure img {
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .confirm-page .list-item .item figure img {
    height: 100%;
    max-height: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .confirm-page .list-item .item figure img {
    width: 180px;
  }
}

.confirm-page .list-item .item .detail-zone .detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .confirm-page .list-item .item .detail-zone .detail {
    -ms-grid-columns: 75% 25%;
        grid-template-columns: 75% 25%;
  }
}

@media screen and (min-width: 768px) {
  .confirm-page .list-item .item .detail-zone .detail .name-course {
    padding-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .confirm-page .list-item .item .detail-zone .detail .name-course {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.confirm-page .list-item .item .detail-zone .detail .name-course > p {
  height: 1.4em;
  overflow: hidden;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .confirm-page .list-item .item .detail-zone .detail .name-course > p {
    font-size: 1.4em;
  }
}

.confirm-page .list-item .item .detail-zone .detail .name-course .ps {
  margin-top: 15px;
  color: lightgray;
}

.confirm-page .list-item .item .detail-zone .detail .price {
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .confirm-page .list-item .item .detail-zone .detail .price {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.confirm-page .list-item .item .detail-zone .detail .price span {
  font-size: 1.4em;
}

@media screen and (min-width: 768px) {
  .confirm-page .list-item .item .detail-zone .detail .price span {
    font-size: 1.8em;
  }
}

.confirm-page .total-selected {
  background-color: #ED1F8F;
  padding: 1em;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .confirm-page .total-selected {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2em;
  }
}

.confirm-page .total-selected .left span {
  color: #fff;
  font-size: 1.4em;
}

.confirm-page .total-selected .right span {
  color: #fff;
  font-size: 1.4em;
}

.confirm-page .total-selected .right span:nth-child(2) {
  font-size: 1.6em;
}

.confirm-page .bank-zone {
  margin: 2em 0;
}

@media screen and (min-width: 768px) {
  .confirm-page .bank-zone {
    padding: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .confirm-page .bank-zone {
    padding: 0 8em;
  }
}

.confirm-page .bank-zone .online-bank .select-bank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm-page .bank-zone .online-bank .select-bank .circle {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid gray;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirm-page .bank-zone .online-bank .select-bank .circle .dot {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  background-color: #ED1F8F;
}

.confirm-page .bank-zone .online-bank .select-bank img {
  margin-left: 10px;
  margin-right: 5px;
}

.confirm-page .bank-zone .online-bank .select-bank span {
  font-size: 1em;
}

.confirm-page .bank-zone .online-bank .name-bank {
  margin: 2em 0;
}

.confirm-page .bank-zone .online-bank .name-bank .box-select {
  position: relative;
}

.confirm-page .bank-zone .online-bank .name-bank .box-select img {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.confirm-page .bank-zone .online-bank .name-bank .box-select #namebank {
  padding-left: 40px;
}

@media screen and (min-width: 768px) {
  .confirm-page .bank-zone .online-bank .name-bank .box-select #namebank {
    padding-left: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .confirm-page .bank-zone .online-bank .name-bank .box-select #namebank {
    padding-left: 60px;
  }
}

.confirm-page .bank-zone .online-bank .transfer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
}

@media screen and (min-width: 768px) {
  .confirm-page .bank-zone .online-bank .transfer {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.confirm-page .bank-zone .online-bank .transfer .name {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.confirm-page .bank-zone .online-bank .upload-slip {
  background-color: #ED1F8F;
  padding: 1em;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
}

@media screen and (min-width: 768px) {
  .confirm-page .bank-zone .online-bank .upload-slip {
    padding: 4em;
  }
}

@media screen and (min-width: 1024px) {
  .confirm-page .bank-zone .online-bank .upload-slip {
    margin: 0 4em;
  }
}

@media screen and (min-width: 768px) {
  .confirm-page .bank-zone .online-bank .upload-slip .thumb {
    text-align: center;
  }
}

.confirm-page .bank-zone .online-bank .upload-slip .thumb img {
  width: 122px;
  height: 156px;
}

.confirm-page .bank-zone .online-bank .upload-slip .upload-zone {
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.confirm-page .bank-zone .online-bank .upload-slip .upload-zone p {
  color: #fff;
}

.confirm-page .confirm-button button {
  width: 100px;
}

.thankyou-page {
  position: relative;
  min-height: 580px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .thankyou-page {
    min-height: 1010px;
  }
}

@media screen and (min-width: 1536px) {
  .thankyou-page {
    min-height: 685px;
  }
}

.thankyou-page .box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #272727;
  padding: 2em;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .thankyou-page .box {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .thankyou-page .box {
    width: 45%;
  }
}

@media screen and (min-width: 1280px) {
  .thankyou-page .box {
    width: 450px;
  }
}

.thankyou-page .box figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.thankyou-page .box h1, .thankyou-page .box h2, .thankyou-page .box p {
  color: #fff;
  text-align: center;
}

.thankyou-page .box h1 {
  font-size: 1.6em;
  margin: 1em 0;
  color: #ED1F8F;
}

.thankyou-page .box h2 {
  font-size: 1.4em;
  margin: 1em 0;
}

.thankyou-page .box p {
  font-size: 1em;
  margin: .5em 0;
}

.thankyou-page .box .regis-no {
  color: #ED1F8F;
}

.thankyou-page .box .button {
  margin: 1em 0;
}

.slide-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-head img {
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 600px;
}

.slide-head .swiper-pagination {
  text-align: left;
  margin-left: 1em;
}

@media screen and (min-width: 1024px) {
  .slide-head .swiper-pagination {
    margin-left: 2em;
  }
}

@media screen and (min-width: 1280px) {
  .slide-head .swiper-pagination {
    margin-left: 4em;
    margin-bottom: 2em;
  }
}

.slide-head .swiper-pagination .swiper-pagination-bullet {
  background: #ED1F8F;
}

.slide-head .swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
}

.slide-head .swiper-pagination .swiper-button-next, .slide-head .swiper-pagination .swiper-button-prev {
  color: #ED1F8F;
}

.activity-page {
  padding: 2em 1em;
}

.activity-page .grid-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 1em;
}

@media screen and (min-width: 768px) {
  .activity-page .grid-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .activity-page .grid-box {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  .activity-page .grid-box {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1536px) {
  .activity-page .grid-box {
    grid-row-gap: 2em;
    grid-column-gap: 4em;
  }
}

.activity-page .grid-box .box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: .5em;
}

@media screen and (min-width: 1280px) {
  .activity-page .grid-box .box {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }
}

.activity-page .grid-box .box figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity-page .grid-box .box figure img {
  width: 319px;
  height: 305px;
}

.activity-page .grid-box .box .detail .title {
  height: 4.8em;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .activity-page .grid-box .box .detail .title {
    height: 5.2em;
  }
}

.activity-page .grid-box .box .detail .title h2 {
  font-size: 1.6em;
}

@media screen and (min-width: 768px) {
  .activity-page .grid-box .box .detail .title h2 {
    font-size: 1.8em;
  }
}

.activity-page .grid-box .box .detail p {
  height: 13.6em;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .activity-page .grid-box .box .detail p {
    height: 11.8em;
  }
}

.activity-page .grid-box .box .detail .button {
  margin: .5em 0;
}

.activity-detail-page {
  padding: 2em 1em;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .activity-detail-page {
    min-height: 950px;
  }
}

.activity-detail-page .auther-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .activity-detail-page .auther-date {
    max-width: 1014px;
    margin: 0 auto;
  }
}

.activity-detail-page .auther-date .auther {
  max-width: 50%;
}

.activity-detail-page .img-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity-detail-page .img-cover img {
  width: 100%;
  height: 100%;
  max-width: 1014px;
  max-height: 370px;
}

.activity-detail-page .ck {
  margin: 1em 0;
}

@media screen and (min-width: 1280px) {
  .activity-detail-page .ck {
    margin: 2em auto;
    max-width: 1014px;
  }
}

.activity-detail-page .ck p img {
  width: 100%;
  height: 100%;
}

.activity-detail-page .ck ul, .activity-detail-page .ck ol {
  padding-left: 2em;
}

.activity-detail-page .ck ul li, .activity-detail-page .ck ol li {
  list-style: disc;
}

.article-page {
  padding: 2em 1em;
}

.article-page .grid-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px;
      grid-template-columns: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .article-page .grid-box {
    -ms-grid-columns: (300px)[2];
        grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (min-width: 1024px) {
  .article-page .grid-box {
    -ms-grid-columns: (300px)[3];
        grid-template-columns: repeat(3, 300px);
  }
}

@media screen and (min-width: 1280px) {
  .article-page .grid-box {
    -ms-grid-columns: (300px)[4];
        grid-template-columns: repeat(4, 300px);
  }
}

@media screen and (min-width: 1536px) {
  .article-page .grid-box {
    -ms-grid-columns: (300px)[5];
        grid-template-columns: repeat(5, 300px);
  }
}

.article-page .grid-box .box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.article-page .grid-box .box:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #00000071;
  -webkit-transition: .3s;
  transition: .3s;
}

.article-page .grid-box .box img {
  max-width: 300px;
  max-height: 425px;
  width: 100%;
  height: 100%;
}

.article-page .grid-box .box .detail {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0 1em;
  z-index: 1;
}

.article-page .grid-box .box .detail .date p {
  color: #fff;
}

.article-page .grid-box .box .detail .title h2 {
  height: 2.9em;
  overflow: hidden;
  color: #fff;
  font-size: 1.6em;
}

.article-page .grid-box .box .readmore {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-page .grid-box .box .readmore .button button {
  background: #FF9B21;
  color: #fff;
  border: unset;
}

.article-page .grid-box .box:hover:after {
  height: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.article-page .grid-box .box:hover .detail {
  z-index: -1;
  -webkit-transition: .3s;
  transition: .3s;
}

.article-page .grid-box .box:hover .readmore {
  opacity: 1;
  z-index: 3;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact-page {
  padding: 2em 1em;
}

.contact-page .box-contact {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 2em;
}

@media screen and (min-width: 1024px) {
  .contact-page .box-contact {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
  }
}

.contact-page .box-contact .left .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 1em 0;
}

@media screen and (min-width: 1024px) {
  .contact-page .box-contact .left .social {
    width: 60%;
  }
}

.contact-page .box-contact .left .social .facebook, .contact-page .box-contact .left .social .twiter, .contact-page .box-contact .left .social .instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.contact-page .box-contact .left .social .facebook img, .contact-page .box-contact .left .social .twiter img, .contact-page .box-contact .left .social .instagram img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 20px;
  height: 20px;
}

.contact-page .box-contact .right .form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

@media screen and (min-width: 768px) {
  .contact-page .box-contact .right .form {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
    padding: 0 4em;
  }
}

@media screen and (min-width: 1024px) {
  .contact-page .box-contact .right .form {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .contact-page .box-contact .right .form .name {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media screen and (min-width: 768px) {
  .contact-page .box-contact .right .form .phone {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (min-width: 768px) {
  .contact-page .box-contact .right .form .email {
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3/6;
  }
}

@media screen and (min-width: 768px) {
  .contact-page .box-contact .right .form .subject {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media screen and (min-width: 768px) {
  .contact-page .box-contact .right .form .message {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media screen and (min-width: 768px) {
  .contact-page .box-contact .right .form .button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    justify-self: flex-end;
  }
}

.contact-page .box-contact .right .form .button button {
  width: 100px;
}

.contact-page .map {
  margin-top: 3em;
}

.contact-page .map iframe {
  width: 100% !important;
  height: 250px !important;
}

@media screen and (min-width: 1280px) {
  .contact-page .map iframe {
    height: 336px !important;
  }
}
/*# sourceMappingURL=page.css.map */