@import 'variable';

main{
  @media screen and (min-width:$lg){
    position: relative;

    &:before{
      content: url(/img/BGbox-course.png);
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }

    &:after{
      content: url(/img/BGbox-left.png);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.title-content{
  padding: 1em 0;

  h1{
    text-align: center;
    color: $purple;

    @media screen and (max-width:$sm){
      font-size: 20px;
    }
  }
}

.cover-page{
  figure{
    img{
      width: 100%;
      max-height: 60vh;

      @media screen and (min-width:$xl){
        max-height: 818px;
      }
    }
  }

  @media screen and (min-width:$lg){
    position: relative;
    display: flex;

    &:before{
      content: url(/img/BGbox-left.png);
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
    }
  }
}

.about-page{
  padding: 2em 1em;
  // margin-top: 2em;
  // margin-bottom: 2em;

  .ck{
    margin: 2em 0;
    p{
      img{
        width: 100%;
        height: 100%;
      }
    }

    ul,ol{
      padding-left: 2em;

      li{
        list-style: disc;
      }
    }
  }

  .social{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 1em 0;

    .facebook,.twiter,.instagram{
      display: flex;
      align-items: baseline;

      img{
        filter: invert(1);
        width: 20px;
        height: 20px;
      }

      span{
        margin-left: 10px;
      }
    }
  }
}

.head-content{
  img{
    width: 100%;
    max-height: 595px;
  }
}

.course-page{
  padding: 5em 1em;
  // margin-top: 5em;
  // margin-bottom: 3em;

  .grid-course{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 1em;

    @media screen and (min-width:$md){
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 3em;
      grid-row-gap: 2em;
    }
    @media screen and (min-width:$lg){
      grid-template-columns: repeat(3,1fr);
    }

    .box{
      @media screen and (max-width:$sm){
        border-bottom: 1px solid $dark-purple;
        padding-bottom: 1em;
      }

      figure{
        text-align: center;
        margin-bottom: .5em;

        img{
          height: 250px;

          @media screen and (min-width:$md){
            height: 305px;
          }
          @media screen and (min-width:$xl){
            height: 338px;
          }
          @media screen and (min-width:$xxl){
            height: 100%;
            max-height: 420px;
          }
        }
      }

      .detail{
        position: relative;
        height: 220px;
        background: url(/img/BGbox-course.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: bottom;

        @media screen and (min-width:$lg){
          height: 260px;
        }

        .title-course{
          margin-bottom: 1em;
          
          h2{
            font-size: 20px;
            height: 3em;
            overflow: hidden;
          }
        }

        .description{
          p{
            font-size: 15px;
            height: 4.4em;
            overflow: hidden;
          }
        }

        .button{
          position: absolute;
          bottom: 12px;
        }

        .limited{
          position: absolute;
          bottom: 0;
          color: $purple;
          font-size: 13px;
        }
      }
    }
  }
}

.course-detail-page{
  padding: 2em 1em;
  // margin-top: 2em;
  // margin-bottom: 2em;

  .box-detail{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 3em;

    @media screen and (min-width:$lg){
      grid-template-columns: 48% 48%;
      grid-column-gap: 4%;
    }

    .left{
      .download-doc{
        margin-top: 1em;
        cursor: pointer;

        span{
          color: $dark-purple;
          font-size: .8em;
        }
      }

      .ck{
        background-color: $white;

        p{
          img{
            width: 100%;
            height: 100%;
          }
        }

        ul,ol{
          padding-left: 2em;
    
          li{
            list-style: disc;
          }
        }
      }
    }

    .right{
      .social{
        display: flex;
        justify-content: space-between;

        @media screen and (min-width:$lg){
          justify-content: flex-start;
        }

        .facebook,.twiter,.ig{
          @media screen and (min-width:$lg){
            margin-right: 1em;
          }

          a{
            display: flex;
            align-items: baseline;
          }

          img{
            height: 20px;
            width: 20px;
            filter: invert(1);
            margin-right: 5px;
          }
        }
      }

      @media screen and (max-width:$sm){
        .picture{
          position: relative;
          height: 100%;
          overflow: hidden;

          .pic1{
            img{
              width: 100%;
              max-height: 743px;
            }
          }

          .pic2{
            display: none;
            position: absolute;
            bottom: 20px;
            left: 30px;

            img{
              width: 60%;
              height: 110px;
              object-fit: cover;
            }
          }
        }
      }
      @media screen and (min-width:$md){
        .picture{
          position: relative;
          height: 100%;
          overflow: hidden;
          margin-top: 1em;
  
          .pic1,.pic2{
            img{
              width: 100%;
            }
          }
  
          .pic1{
            position: relative;
            overflow: hidden;
  
            // &:before{
            //   content: "";
            //   position: absolute;
            //   top: 288px;
            //   left: 0;
            //   height: 100%;
            //   width: 100%;
            //   transform: skewY(10deg);
            //   background-color: $white;
            // }
          }
  
          .pic2{
            display: none;
            position: relative;
            overflow: hidden;
            top: -318px;
            left: 30px;
            width: 50%;
  
            &:before{
              content: "";
              position: absolute;
              top: 170px;
              right: 0;
              height: 100%;
              width: 100%;
              transform: skewY(-6deg);
              background-color: $white;
            }

            img{
              height: 180px;
            }
          }
        }
      }
      @media screen and (min-width:$lg){
        .picture{
          height: 743px;
          overflow: visible;

          &:after{
            content: url(/img/line-near-pic.png);
            position: absolute;
            top: 10%;
            left: -40px;
          }

          .pic1{
            &:before{
              content: "";
              position: absolute;
              top: 430px;
              left: 0;
              height: 100%;
              width: 100%;
              transform: skewY(10deg);
              background-color: $white;
            }

            img{
              height: 743px;
            }
          }
          .pic2{
            display: block;
            top: -435px;
            height: 345px;
            width: 366px;

            &:before{
              top: 170px;
              z-index: 1;
            }

            img{
              height: 345px;
              position: absolute;
              top: -50%;
              left: -50%;
              transform: translate(50%, 25%);
            }
          }
        }
      }
      @media screen and (min-width:$xl){
        .picture{
          height: 743px;

          .pic1{
            &:before{
              top: 457px;
            }

            img{
              height: 743px;
            }
          }
          .pic2{
            top: -410px;
            height: 345px;
            width: 366px;

            &:before{
              top: 160px;
            }

            img{
              width: 366px;
              height: 345px;
            }
          }
        }
      }
      @media screen and (min-width:$xxl){
        .picture{
          height: 743px;

          .pic1{
            &:before{
              top: 528px;
            }
          }
          .pic2{
            top: -350px;

            &:before{
              top: 160px;
            }

            img{
              height: 345px;
              width: 366px;
            }
          }
        }
      }
    }
  }

  .video{
    margin: 2em 0;

    @media screen and (min-width:$lg){
      padding: 0 3em;
    }
    @media screen and (min-width:$xl){
      padding: 0 10em;
    }
    @media screen and (min-width:$xxl){
      padding: 0;
      text-align: center;
    }

    iframe{
      width: 100%!important;
      height: 250px!important;

      @media screen and (min-width:$md){
        height: 350px!important;
      }
      @media screen and (min-width:$lg){
        height: 500px!important;
      }
      @media screen and (min-width:$xxl){
        width: 960px!important;
        height: 420px!important;
      }
    }
  }

  .grid-info{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 2em;
    padding: 0 3em;

    @media screen and (min-width:$md){
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 2em;
    }
    @media screen and (min-width:$lg){
      grid-template-columns: repeat(4,1fr);
      padding: 0;
    }
    @media screen and (min-width:$xxl){
      padding: 0 10em;
    }

    .box{
      position: relative;
      background-color: $purple;
      padding: 2em;
      border-radius: 10px;

      &:after{
        content: '';
        background: url(/img/BGgridinfo.png);
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
      }

      p{
        color: $white;
        font-size: 1.2em;
        margin: .5em 0;
      }
      
      p:nth-child(3){
        font-size: .8em;
      }

      .icon{
        img{
          width: 28px;
          height: 28px;
        }
      }

      .ps{
        font-size: .8em;
      }
    }
  }

  .regis-button{
    text-align: center;
    margin: 2em 0;

    button{
      width: 100px;
    }
  }

  .contact-button{
    text-align: center;
    margin: 2em 0;

    button{
      width: max-content;
    }
  }

  .form-regis{
    margin: 4em 0;
    display: grid;
    grid-template-columns: 100%;
    
    @media screen and (min-width:$lg){
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 3em;
    }

    .left,.right{
      .pad{
        margin-left: 1em;
      }

      .head-form{
        background-color: $purple;
        padding: 5px 0;
        padding-left: 1em;
        border-radius: 5px;

        p{
          color: $white;
          font-weight: bold;
          font-size: 1.2em;
        }
      }

      .description{
        p{
          padding: .5em 0;
          color: gray;
        }
      }

      .upload-img{
        display: flex;

        .pic{
          img{
            width: 122px;
            height: 156px;
          }
        }

        .upload-zone{
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 2em;

          .ps{
            margin-top: .5em;
            width: 70%;

            p{
              color: gray;
            }
          }
        }
      }

      .idcard{
        margin-top: 1em;
        margin-bottom: 1em;

        .grid-input{
          margin-top: .5em;
          display: grid;
          grid-template-columns: 40% 58%;
          grid-column-gap: 2%;

          @media screen and (min-width:$md){
            grid-template-columns: 20% 78%;
          }
          @media screen and (min-width:$lg){
            grid-template-columns: 35% 63%;
          }
          @media screen and (min-width:$xl){
            grid-template-columns: 20% 78%;
          }
        }
      }

      .personal{
        .bg-pad,.nm-pad{
          .h-form{
            color: $purple;
            font-size: 1.2em;
            margin-top: 1em;
            margin-bottom: 1em;
          }
        }

        .bg-pad{
          background-color: #EEEEEE;
          border-radius: 5px;
          padding: 1em;
        }
        .nm-pad{
          padding: 1em;

          @media screen and (max-width:$sm){
            .date,.month,.year{
              select{
                padding: 5px 0 5px 5px;
              }
            }
            .date{
              grid-column: 1/3;
            }
            .month{
              grid-column: 3/5;
            }
            .year{
              grid-column: 5/7;
            }
          }
        }
      }
    }
    .right{
      .h-form{
        color: $purple;
        font-size: 1.2em;
        margin-bottom: 1em;
      }

      .nm-pad{
        padding: 1em;
      }

      .edu{
        .box{
          padding-bottom: 1em;
          border-bottom: 1px dashed gray;
          margin-bottom: 1em;
        }

        .add-education{
          width: max-content;
          margin: 1em auto;
          cursor: pointer;

          img{
            width: 15px;
            height: 15px;
          }
          span{
            color: $purple;
          }
        }
      }

      .occupation{
        margin-bottom: 3em;
        .gcheckbox{
          display: grid;
          grid-template-columns: repeat(5,1fr);
          grid-row-gap: 1em;
          margin-top: 2em;
          margin-bottom: 1em;

          @media screen and (min-width:$lg){
            grid-template-columns: repeat(4,1fr);
          }
          @media screen and (min-width:$xl){
            grid-template-columns: repeat(5,1fr);
          }
        }
      }

      .type-business{
        margin-bottom: 3em;
        .choice-business{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          grid-gap: 1em;
          margin-bottom: 1em;

          @media screen and (min-width:$xxl){
            grid-template-columns: repeat(2,40%);
          }
        }
      }

      .knowme{
        margin-bottom: 3em;
        .choice{
          display: flex;
          flex-wrap: wrap;

          .box-radio{
            margin-right: 1em;
            margin-bottom: .5em;
          }
        }

        .other-choice{
          margin-top: 1em;
        }
      }

      .tax{
        padding-top: 1em;
        textarea{
          margin-top: .5em;
          resize: none;
        }
      }
    }

    .button-save{
      margin-top: 1em;
      text-align: center;

      @media screen and (min-width:$lg){
        grid-column: 1/3;
      }
    }
  }

  .map{
    iframe{
      width: 100%!important;
      height: 300px!important;
    }
  }
}

.confirm-page{
  padding: 2em 1em;

  @media screen and (min-width:$xl){
    padding: 2em 8em;
  }

  .date-no{
    display: flex;
    margin-bottom: 1em;

    .date{
      margin-right: 10px;
    }
    .no{
      color: $purple;
    }
  }

  .list-item{
    background-color: #F3F3F3;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;

    .item{
      display: grid;
      grid-template-columns: 25% 73%;
      grid-column-gap: 2%;
      grid-row-gap: 1em;
      border-bottom: 2px solid $black;
      margin-bottom: 5px;

      @media screen and (min-width:$md){
        padding-bottom: 10px;
      }

      figure{
        display: flex;

        @media screen and (min-width:$xl){
          justify-content: center;
        }
        img{
          height: 100px;
          object-fit: cover;

          @media screen and (min-width:$md){
            height: 100%;
            max-height: 100%;
          }
          @media screen and (min-width:$xl){
            width: 180px;
          }
        }
      }

      .detail-zone{
        .detail{
          display: grid;
          grid-template-columns: 100%;
          height: 100%;

          @media screen and (min-width:$md){
            grid-template-columns: 75% 25%;
          }

          .name-course{
            @media screen and (min-width:$md){
              padding-right: 15px;
            }
            @media screen and (min-width:$xl){
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }

            >p{
              height: 1.4em;
              overflow: hidden;
              font-size: 1.2em;

              @media screen and (min-width:$md){
                font-size: 1.4em;
              }
            }
            .ps{
              margin-top: 15px;
              color: lightgray;
            }
          }
          .price{
            text-align: right;
            align-self: flex-end;

            @media screen and (min-width:$md){
              align-self: center;
            }

            span{
              font-size: 1.4em;

              @media screen and (min-width:$md){
                font-size: 1.8em;
              }
            }
          }
        }
      }
    }
  }

  .total-selected{
    background-color: $purple;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width:$md){
      flex-direction: row;
      justify-content: space-between;
      padding: 2em;
    }

    .left{
      span{
        color: $white;
        font-size: 1.4em;
      }
    }
    .right{
      span{
        color: $white;
        font-size: 1.4em;

        &:nth-child(2){
          font-size: 1.6em;
        }
      }
    }
  }

  .bank-zone{
    margin: 2em 0;

    @media screen and (min-width:$md){
      padding: 2em;
    }
    @media screen and (min-width:$lg){
      padding: 0 8em;
    }

    .online-bank{
      .select-bank{
        display: flex;
        align-items: center;

        .circle{
          width: 20px;
          height: 20px;
          border-radius: 30px;
          border: 1px solid gray;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          .dot{
            width: 14px;
            height: 14px;
            border-radius: 20px;
            background-color: $purple;
          }
        }

        img{
          margin-left: 10px;
          margin-right: 5px;
        }
        span{
          font-size: 1em;
        }
      }

      .name-bank{
        margin: 2em 0;

        .box-select{
          position: relative;

          img{
            position: absolute;
            width: 25px;
            height: 25px;
            top: 50%;
            left: 3%;
            transform: translateY(-50%);
          }

          #namebank{
            padding-left: 40px;

            @media screen and (min-width:$md){
              padding-left: 50px;
            }
            @media screen and (min-width:$xl){
              padding-left: 60px;
            }
          }
        }
      }

      .transfer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 1em;

        @media screen and (min-width:$md){
          grid-template-columns: repeat(4,1fr);
        }

        .name{
          grid-column: 1/3;
        }
      }

      .upload-slip{
        background-color: $purple;
        padding: 1em;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 40% 60%;

        @media screen and (min-width:$md){
          padding: 4em;
        }
        @media screen and (min-width:$lg){
          margin: 0 4em;
        }

        .thumb{
          @media screen and (min-width:$md){
            text-align: center;
          }

          img{
            width: 122px;
            height: 156px;
          }
        }

        .upload-zone{
          padding-left: 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          p{
            color: $white;
          }
        }
      }
    }
  }

  .confirm-button{
    button{
      width: 100px;
    }
  }
}

.thankyou-page{
  position: relative;
  min-height: 580px;

  @media screen and (min-width:$lg) and (max-width:($xl)-1px){
    min-height: 1010px;
  }
  @media screen and (min-width:$xxl){
    min-height: 685px;
  }

  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: max-content;
    background-color: #272727;
    padding: 2em;
    border-radius: 5px;

    @media screen and (min-width:$md){
      width: 60%;
    }
    @media screen and (min-width:$lg){
      width: 45%;
    }
    @media screen and (min-width:$xl){
      width: 450px;
    }

    figure{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    h1,h2,p{
      color: $white;
      text-align: center;
    }

    h1{
      font-size: 1.6em;
      margin: 1em 0;
      color: $purple;
    }
    h2{
      font-size: 1.4em;
      margin: 1em 0;
    }
    p{
      font-size: 1em;
      margin: .5em 0;
    }
    .regis-no{
      color: $purple;
    }

    .button{
      margin: 1em 0;
    }
  }
}

.slide-head{
  display: flex;
  img{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 600px;
  }

  .swiper-pagination{
    text-align: left;
    margin-left: 1em;

    @media screen and (min-width:$lg){
      margin-left: 2em;
    }
    @media screen and (min-width:$xl){
      margin-left: 4em;
      margin-bottom: 2em;
    }

    .swiper-pagination-bullet{
      background: $purple;
    }
    .swiper-pagination-bullet-active{
      background: $black;
    }

    .swiper-button-next,.swiper-button-prev{
      color: $purple;
    }
  }
}

.activity-page{
  padding: 2em 1em;
  // margin-top: 2em;
  // margin-bottom: 2em;

  .grid-box{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 1em;

    @media screen and (min-width:$md){
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 1em;
    }
    @media screen and (min-width:$lg){
      grid-template-columns: repeat(3,1fr);
    }
    @media screen and (min-width:$xl){
      grid-template-columns: repeat(2,1fr);
    }
    @media screen and (min-width:$xxl){
      grid-row-gap: 2em;
      grid-column-gap: 4em;
    }

    .box{
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: .5em;

      @media screen and (min-width:$xl){
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
      }

      figure{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
          width: 319px;
          height: 305px;
        }
      }

      .detail{
        .title{
          height: 4.8em;
          overflow: hidden;

          @media screen and (min-width:$md){
            height: 5.2em;
          }

          h2{
            font-size: 1.6em;

            @media screen and (min-width:$md){
              font-size: 1.8em;
            }
          }
        }
        p{
          height: 13.6em;
          overflow: hidden;

          @media screen and (min-width:$md){
            height: 11.8em;
          }
        }
        .button{
          margin: .5em 0;
        }
      }
    }
  }
}

.activity-detail-page{
  padding: 2em 1em;

  @media screen and (min-width:$lg) and (max-width:($xl)-1px) {
    min-height: 950px;
  }

  .auther-date{
    display: flex;
    justify-content: space-between;

    @media screen and (min-width:$xl){
      max-width: 1014px;
      margin: 0 auto;
    }

    .auther{
      max-width: 50%;
    }
  }

  .img-cover{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      width: 100%;
      height: 100%;
      max-width: 1014px;
      max-height: 370px;
    }
  }

  .ck{
    margin: 1em 0;

    @media screen and (min-width:$xl){
      margin: 2em auto;
      max-width: 1014px;
    }

    p{
      img{
        width: 100%;
        height: 100%;
      }
    }
    ul,ol{
      padding-left: 2em;

      li{
        list-style: disc;
      }
    }
  }
}

.article-page{
  padding: 2em 1em;
  // margin-top: 2em;
  // margin-bottom: 2em;

  .grid-box{
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;

    @media screen and (min-width:$md){
      grid-template-columns: repeat(2,300px);
    }
    @media screen and (min-width:$lg){
      grid-template-columns: repeat(3,300px);
    }
    @media screen and (min-width:$xl){
      grid-template-columns: repeat(4,300px);
    }
    @media screen and (min-width:$xxl){
      grid-template-columns: repeat(5,300px);
    }

    .box{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;

      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #00000071;
        transition: .3s;
      }

      img{
        max-width: 300px;
        max-height: 425px;
        width: 100%;
        height: 100%;
        //filter: brightness(.5);
      }

      .detail{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: max-content;
        padding: 0 1em;
        z-index: 1;

        .date{
          p{
            color: $white
          }
        }
        .title{
          h2{
            height: 2.9em;
            overflow: hidden;
            color: $white;
            font-size: 1.6em;
          }
        }
      }

      .readmore{
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .button{
          button{
            background: #FF9B21;
            color: $white;
            border: unset;
          }
        }
      }

      &:hover{
        &:after{
          height: 0;
          transition: .3s;
        }

        .detail{
          z-index: -1;
          transition: .3s;
        }

        .readmore{
          opacity: 1;
          z-index: 3;
          transition: .3s;
        }
      }
    }
  }
}

.contact-page{
  padding: 2em 1em;
  // margin-top: 2em;
  // margin-bottom: 2em;

  .box-contact{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 2em;

    @media screen and (min-width:$lg){
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 2em;
    }

    .left{
      .content{

      }
      .social{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 1em 0;

        @media screen and (min-width:$lg){
          width: 60%;
        }
    
        .facebook,.twiter,.instagram{
          display: flex;
          align-items: baseline;
    
          img{
            filter: invert(1);
            width: 20px;
            height: 20px;
          }
    
        }
      }
    }

    .right{
      .form{
        display: grid;
        grid-template-columns: 100%;

        @media screen and (min-width:$md){
          grid-template-columns: repeat(5,1fr);
          grid-column-gap: 1em;
          padding: 0 4em;
        }
        @media screen and (min-width:$lg){
          padding: 0;
        }

        .name{
          @media screen and (min-width:$md) {
            grid-column: 1/6;
          }
        }
        .phone{
          @media screen and (min-width:$md) {
            grid-column: 1/3;
          }
        }
        .email{
          @media screen and (min-width:$md) {
            grid-column: 3/6;
          }
        }
        .subject{
          @media screen and (min-width:$md) {
            grid-column: 1/6;
          }
        }
        .message{
          @media screen and (min-width:$md) {
            grid-column: 1/6;
          }
        }
        .button{
          @media screen and (min-width:$md) {
            grid-column: 1/6;
            justify-self: flex-end;
          }

          button{
            width: 100px;
          }
        }
      }
    }
  }

  .map{
    margin-top: 3em;

    iframe{
      width: 100%!important;
      height: 250px!important;

      @media screen and (min-width:$xl){
        height: 336px!important;
      }
    }
  }
}