<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <!-- css -->
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/page.min.css">
</head>
<body>
  <header>
    <div class="header container">
      <div class="logo">
        <a href="/"><img src="/img/logo/logo.png" alt=""></a>
      </div>
  
      <nav>
        <ul class="menu">
          <li class="active"><a href="">home</a></li>
          <li><a href="">course</a></li>
          <li><a href="">apply for a course</a></li>
          <li><a href="">article</a></li>
          <li><a href="">about us</a></li>
          <li><a href="">contact us</a></li>
        </ul>
  
        <!-- ไอค่อนรถเข็น หากมีสินค้าในรถเข็นจะแสดงแค่จุดเล็กๆ Element Class ชื่อ dot-cart ไม่มีตัวเลขแสดง -->
        <div class="cart">
          <a href=""><img class="icon-svg" src="/img/svg/cart-arrow-down-solid.svg" alt=""></a>
          <div class="dot-cart"></div>
        </div>
  
        <!-- Element นี้จะหายไปเมื่อ login -->
        <div class="login-zone">
          <button class="form-component button primary login">SIGN IN</button>
          <button class="form-component button BGwhite register">ลงทะเบียน</button>
        </div>

        <!-- จะแสดง Element นี้ต่อเมื่อ login แล้ว -->
        <div class="account" style="display: none;" onclick="open_acc_menu()">
          <div class="username">Hanekawa SudanAtic</div>
          <div class="avatar"><img src="/img/default.jpg" alt=""></div>

          <ul class="acc-menu">
            <li><a href="">บัญชีของฉัน</a></li>
            <li><a href="">ประวัติการสั่งซื้อ</a></li>
            <li><a href="">ออกจากระบบ</a></li>
          </ul>
        </div>
      </nav>

      <div class="hamburger" onclick="open_menu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
  </header>

  <main>
    <div class="cover-page"><figure><a href=""><img src="/img/cover1.png" alt=""></a></figure></div>

    <div class="title-content">
      <h1>RE-CU CEO (Top Decision Maker)</h1>
    </div>

    <div class="course-detail-page container">
      <div class="box-detail">
        <div class="left">
          <div class="ck">
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
            <p>ck ck ck</p>
          </div>

          <div class="download-doc">
            <img class="icon-svg" src="/img/svg/file-alt-solid.svg" alt="">
            <span>ดาวโหลดเอกสารต่างๆ เกี่ยวกับคอสเรียนนี้</span>
          </div>
        </div>
        <div class="right">
          <div class="social">
            <div class="facebook"><a href=""><img src="/img/svg/facebook.svg" alt=""> facebook</a></div>
            <div class="twiter"><a href=""><img src="/img/svg/twiter.svg" alt=""> twiter</a></div>
            <div class="ig"><a href=""><img src="/img/svg/instagram.svg" alt=""> instagram</a></div>
          </div>

          <div class="picture">
            <div class="pic1"><img src="/img/yaniv-knobel-9_fZaxzvGuA-unsplash.jpg" alt=""></div>
            <div class="pic2"><img src="/img/andrew-neel-QLqNalPe0RA-unsplash.jpg" alt=""></div>
          </div>
        </div>
      </div>

      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GK7DabtKfFE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="contact-button"><button class="form-component button primary round">สอบถามข้อมูลเพิ่มเติมเพื่อสมัคร</button></div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.8081503046224!2d100.56262891527399!3d13.730062101494994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29f03056d0be9%3A0x7fba70a24598c9bc!2sKiss%20Bangkok%20Massage!5e0!3m2!1sth!2sth!4v1614917523134!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
    
  </main>

  <footer>
    <div class="footer">
      <div class="content-footer container">
        <div class="logo-address">
          <div class="logo"><img src="/img/logo/logo2.png" alt=""></div>
          <div class="address">
            <p>
              เลขที่ 24 อาคารยูเซ็นเตอร์ ห้อง L01 ซอยจุฬาลงกรณ์ 42 แขวงวังใหม่ เขตปทุมวัน
            </p>
            <p>กรุงเทพฯ 10330</p>
            <p>โทร. 02-214-1604-5</p>
          </div>
        </div>
  
        <div class="infomation">
          <p>รับข้อมูลข่าวสาร</p>
  
          <ul>
            <li><a href="">RE-CU Junior</a></li>
            <li><a href="">RE-CU Senior</a></li>
            <li><a href="">RE-CU CEO</a></li>
            <li><a href="">RE-CU Hotel</a></li>
            <li><a href="">RE-CU Marketing</a></li>
            <li><a href="">RE-CU Financial and Cash flow</a></li>
          </ul>
        </div>
  
        <div class="social">
          <p>สามารถลงทะเบียนได้นี่นี่</p>
          <div class="button"><button class="form-component button BGwhite round">REGISTER</button></div>
  
          <div class="group-social">
            <div class="item facebook">
              <a href="">
                <img src="/img/svg/facebook.svg" alt="">
                <span>facebook</span>
              </a>
            </div>
  
            <div class="item twiter">
              <a href="">
                <img src="/img/svg/twiter.svg" alt="">
                <span>twiter</span>
              </a>
            </div>
  
            <div class="item instagram">
              <a href="">
                <img src="/img/svg/instagram.svg" alt="">
                <span>instagram</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
      <p>2021 Copyright By <a href="https://www.wynnsoft-solution.com/">Wynnsoft-Solution</a></p>
    </div>
  </footer>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>