<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form</title>

  <!-- css -->
  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/form-reg.min.css">
</head>
<body>
  <div class="form-reg">
    <div class="head-form">
      <div class="logo"><img src="/img/logo/logo3.png" alt=""></div>
      <div class="txt-head">
        <h1>ใบสมัคร</h1>
        <h2>Real Estate Development</h2>
      </div>
      <div class="photo">
        <div class="pic"><p>รูปถ่าย</p></div>
      </div>
    </div>

    <div class="body-form">
      <div class="head-title-form">
        <p>ข้อมูลส่วนตัว (กรุณาพิมพ์ข้อมูลส่วนตัวให้ครบถ้วน)</p>
      </div>
      <div class="form-input name">
        <span>ชื่อ-นามสกุล</span>
        <span class="dot"></span>
        <span>ชื่อเล่น</span>
        <span class="dot"></span>
      </div>
      <div class="form-input nameE">
        <span>Name-Surname</span>
        <span class="dot"></span>
        <span>วัน/เดือน/ปี</span>
        <span class="dot"></span>
        <span>อายุ</span>
        <span class="dot"></span>
        <span>ศาสนา</span>
        <span class="dot"></span>
      </div>
      <div class="form-input phone">
        <span>โทรศัพท์มือถือ:</span>
        <span class="dot"></span>
        <span>Email:</span>
        <span class="dot"></span>
        <span>Line ID:</span>
        <span class="dot"></span>
      </div>
      <div class="form-input social">
        <span>Facebook:</span>
        <span class="dot"></span>
        <span>Instagram:</span>
        <span class="dot"></span>
        <span>Twitter:</span>
        <span class="dot"></span>
      </div>
      <div class="form-input idcard">
        <span><div class="circle"></div> เลขที่บัตรประชาชน/ID CARD</span>
        <span><div class="circle"></div> หนังสือเดินทาง/Passport ID :</span>
        <span class="dot"></span>
      </div>
      <p class="sub-title">ที่อยู่ที่สามารถติดต่อได้</p>
      <div class="form-input addr1">
        <span>เลขที่</span>
        <span class="dot"></span>
        <span>หมู่ที่</span>
        <span class="dot"></span>
        <span>อาคาร/หมู่บ้าน</span>
        <span class="dot"></span>
        <span>ซอย</span>
        <span class="dot"></span>
        <span>ถนน</span>
        <span class="dot"></span>
      </div>
      <div class="form-input addr2">
        <span>ตำบล/แขวง</span>
        <span class="dot"></span>
        <span>อำเภอ/เขต</span>
        <span class="dot"></span>
        <span>จังหวัด</span>
        <span class="dot"></span>
        <span>รหัสไปรษณีย์</span>
        <span class="dot"></span>
      </div>
      <p class="sub-title">ข้อมูลบริษัท</p>
      <div class="form-input job">
        <span>ชื่อบริษัท/หน่วยงาน</span>
        <span class="dot"></span>
        <span>ตำแหน่ง</span>
        <span class="dot"></span>
        <span>อายุงาน</span>
        <span class="dot"></span>
        <span>ปี</span>
      </div>
      <p class="sub-title">ข้อมูลผู้ประสานงาน</p>
      <div class="form-input contact">
        <span>ชื่อ-นามสกุล</span>
        <span class="dot"></span>
        <span>โทรศัพท์มือถือ</span>
        <span class="dot"></span>
        <span>E-mail:</span>
        <span class="dot"></span>
        <span>Line:</span>
        <span class="dot"></span>
      </div>

      <!-- ด้านการศึกษา -->

      <div class="head-title-form">
        <p>ข้อมูลด้านการศึกษา</p>
      </div>
      <table class="table">
        <thead>
          <tr>
            <td>ระดับการศึกษา</ะ>
            <td>ภาควิชา-สาขาวิชา</td>
            <td>คณะ</th>
            <td>มหาวิทยาลัย/สถาบัน</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>ปริญญาตรี</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>ปริญญาโท</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>ปริญญาเอก</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <!-- ด้านการงาน -->

      <div class="head-title-form">
        <p>ลักษณะงานที่ท่านทำในปัจจุบัน</p>
      </div>
      <div class="grid-tic">
        <div class="item">
          <div class="circle"></div>
          <span>สถาปัตยกรรม</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>กฏหมาย</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>วิศวกรรม</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>บริหาร</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>การเงิน</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>การตลาด</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>แพทย์/ทันตแพทย์</span>
        </div>
        <div class="item other">
          <div class="circle"></div>
          <span>อื่นๆ (โปรดระบุ)</span>
          <span class="dot"></span>
        </div>
      </div>

      <!-- ความสนใจ -->

      <div class="head-title-form">
        <p>ประเภทธุรกิจอสังหาริมทรัพย์ที่ท่านสนใจเป็นพิเศษ (ตอบได้เพียง 1 ข้อ)</p>
      </div>
      <div class="flex-tic">
        <div class="item">
          <div class="circle"></div>
          <span>Condominium (High Rise)</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>Condominium (Low Rise)</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>Single House/Town House</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>Hotel/Resort</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>Service Apartment/Apartment</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>Mixed Use Project</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>Community Mall/Co-Working Space</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>การลงทุนในต่างประเทศ CLMV</span>
        </div>
        <div class="item other">
          <div class="circle"></div>
          <span>อื่นๆ (โปรดระบุ)</span>
          <span class="dot"></span>
        </div>
      </div>

      <!-- ทราบข่าว -->

      <div class="head-title-form">
        <p>ท่านทราบข่าวการอบรมครั้งนี้จากสื่อประเภทใด</p>
      </div>
      <div class="knowus-tic">
        <div class="item">
          <div class="circle"></div>
          <span>เพื่อน/ญาติ/คนในครอบครัว </span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>www.re-cu.com</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>Facebook</span>
        </div>
        <div class="item">
          <div class="circle"></div>
          <span>Line</span>
        </div>
        <div class="item other">
          <div class="circle"></div>
          <span>อื่นๆ (โปรดระบุ)</span>
          <span class="dot"></span>
        </div>
      </div>

      <!-- ใบเสร็จ -->

      <div class="head-title-form">
        <p>ท่านมีความประสงค์ให้ออกใบเสร็จในนาม</p>
      </div>
      <div class="invoid">
        <p class="dot"></p>
        <p class="dot"></p>
      </div>
    </div>
  </div>
</body>
</html>